<div class="show-item-container">
    <div class="d-flex justify-content-center">
        <img class="show-item-img" src="https://s1.feelgreece.com/cx/m/0/0/648/93374-viewos.jpg" alt="a photo of a dish">
    </div>

    <div class="mt-4 show-item-infos text-center">
        <h3 class="show-item-name"> <%= @menu_item.name %></h3>
        <h6 class="show-item-desc"> <%= @menu_item.description %> </h3>
    </div>
</div>