.navbar-img {
    height: 45px;
    transition: .3s ease;
    &:hover {
        height: 100px;
        transition: .3s ease;
    }
}

.navbar {
  background-color: whitesmoke;
  transition: .3s ease;
}
